<!-- app.component.html -->
<div class="container">
  <app-navbar></app-navbar>
  <div class="filters">
    <div class="rating-container">
      <label for="rating">Filter by Type:</label>
      <select id="rating" [formControl]="rating" (change)="filterRestaurants()">
        <option value="">All</option>
        <option value="Fruit">Fruit</option>
        <option value="Vegetable">Vegetable</option>
      </select>
    </div>
    <div>
      <button (click)="sortByPrice()">Sort by Price</button>&nbsp;
      <label for="minPrice">Min Price:</label>
      <input
        type="number"
        id="minPrice"
        [formControl]="minPrice"
        (change)="filterRestaurants()"
      />&nbsp;
      <label for="maxPrice">Max Price:</label>
      <input
        type="number"
        id="maxPrice"
        [formControl]="maxPrice"
        (change)="filterRestaurants()"
      />
      <button (click)="filterByRange()">Filter by Range</button>
    </div>
    <div>
      Search :
      <input
        type="text"
        [(ngModel)]="searchText"
        (keyup)="applySearch()"
        placeholder="Search..."
      />
    </div>
  </div>

  <div class="restaurants">
    <h3>Restaurants</h3>
    <span class="cart">
      Cart
      <div className="cart-content">
        <span style="color: brown">Total Price : $ {{ cartTotal }}</span>
      </div>
    </span>
    <div class="restaurant-cards">
      <div
        *ngFor="let restaurant of filteredRestaurants"
        class="restaurant-card"
      >
      
        <img [src]="restaurant.image" alt="{{ restaurant.name }}" />
        <div class="card-body">
          <h5 class="card-title">{{ restaurant.name }}</h5>
          <p class="card-text">
            {{ restaurant.description }}
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Price: {{ restaurant.price }} Rs/Kg</li>
        </ul>
        <button class="btn1" (click)="addToCart(restaurant.price)">
          Add to Cart</button
        >{{ " " }}
        <button (click)="removeFromCart(restaurant.price)">-</button>
      </div>
    </div>
  </div>
</div>